
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.pid
*.pid.lock
*.seed
*.sock
*.swo
*.swp
/tmp/cache/
tmp/cache/*
tmp/pids/*
tmp/sockets/*
tmp/storage/*
.byebug_history
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
coverage/
spec/examples.txt

# Ignore uploaded files in development
/storage/*
!/storage/.keep
.env
.env.*
.DS_Store
Thumbs.db
tmp/cache/bootsnap-*
.idea/
.vscode/